@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap);
// @import url(fonts.css);

$orange-color: #eb7d4b;
$darkorange-color: #c86a40;
$violete-color: #87509c;
$darkviolete-color: #643a79;
$green-color: #17c2a4;
$darkgreen-color: #14a58c;
$grey-color: #e7f1f8;
$darkgrey-color: #c8d9e5;
$white-color: #ffffff;
$darkwhite-color: #dfe8ed;
$black-color: #3c4761;
$darkblack-color: #393939;
$yellow-color: #ffdd99;
$darkyellow-color: #ebc985;
$red-color: #d74680;
$darkred-color: #b73c6d;
$blue-color: #3c5499;
$darkblue-color: #273a71;
$lightblue-color: #30bae7;
$darklightblue-color: #299ec5;

body {
	font-family: 'Titillium Web';
	color: $white-color;
	text-align: center;

	&._lock {
		overflow: hidden;
	}
}

a,
button,
input,
textarea {
	color: inherit;
}

// #arrowTop {
// 	font-size: 30px;
// 	padding: 10px;
// 	bottom: 20px;
// 	right: 20px;
// 	color: $darkwhite-color;
// 	background-color: $black-color;
// 	border-radius: 5px;
// 	position: fixed;
// 	cursor: pointer;
// 	opacity: 0.5;
// 	z-index: 2;

// 	&::before {
// 		content: '▲';
// 	}

// 	&:hover {
// 		color: $white-color;
// 		opacity: 0.75;
// 	}
// }

.container {
	max-width: 1100px;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.section {
	padding: 60px 0px;
}

.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 5px;
	text-align: center;

	&:after {
		content: "";
		display: block;
		height: 5px;
		width: 100px;
		margin: 20px auto;
	}
}

.subtitle {
	font-size: 18px;
	line-height: 26px;
	margin: 0 auto;
	max-width: 580px;
}

.text {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.button {
	display: inline-block;
	border-radius: 5px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 600;
	padding: 30px 80px;
	text-align: center;
	margin-top: 60px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 50px;
	margin-top: 80px;
}

.column {
	flex-direction: column;
	align-items: center;
	max-width: 20%;
	flex: 1 1 100%;
}

.image img {
	max-width: 100%;
}

.header {
	background: $violete-color;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
	}

	&__menu {

		&-icon {
			display: none;
		}

		&-list {

			display: flex;

			a {
				padding: 10px 15px;
				margin-left: 10px;

				&:hover {
					background: $darkviolete-color;
					border: 0px solid;
					border-radius: 5px;
				}
			}
		}
	}
}

.welcome {
	background: $violete-color;

	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
	}

	&__button {
		background-color: $orange-color;
		box-shadow: 0 3px 0 $darkorange-color;
		margin-top: 60px;
	}
}

.services {
	background: $green-color;

	&__title {

		&:after {
			background: $darkgreen-color
		}
	}

	&__column {

		&-image {
			max-width: 100%;
			max-height: 131px;
		}

		&-image img {
			height: 100%;
		}

		&-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 18px;
			margin: 60px 0px 30px;
		}

		&-text {
			font-weight: 300;
			line-height: 24px;
		}
	}
}

.team {
	background: $grey-color;
	color: $black-color;

	&__title {

		&:after {
			background-color: $darkgrey-color;
		}
	}

	&__column {

		&-image {
			max-width: 100%;
			max-height: 200px;
		}

		&-image img {
			height: 100%;
		}

		&-title {
			font-size: 24px;
			font-weight: 700;
			margin: 40px 0px 15px;
		}

		&-subtitle {
			color: $lightblue-color;

		}

		&-text {
			margin: 30px 0px
		}

		div &-links {
			display: flex;
			justify-content: space-around;
		}
	}
}

.skills {
	background: white;
	color: $black-color;

	&__title {

		&:after {
			background-color: $darkwhite-color;
		}
	}

	&__column {

		& img {
			max-width: 300px;
		}

		&-title {
			font-size: 24px;
			font-weight: 700;
			margin-top: 30px;
		}
	}
}

.portfolio {
	background: $yellow-color;
	color: $darkblack-color;

	.portfolio__title {

		&:after {
			background-color: $darkyellow-color;
		}
	}



	&__select {
		color: $darkblack-color;
		background-color: $darkyellow-color;
		font-size: 16px;
		margin-top: 45px;
		padding: 10px 25px;
		border-radius: 5px;
		cursor: pointer;
	}

	&__column {
		max-width: 45%;

		&-text {
			font-size: 18px;
			margin-top: 30px;
		}

		&._unselected {
			display: none;
		}
	}

	&__button {
		background: $green-color;
		box-shadow: 0 3px 0 $darkgreen-color;
	}
}

.testimonials {
	background: $red-color;

	&__title {

		&:after {
			background-color: $darkred-color;
		}
	}

	&__column {
		max-width: 45%;
		display: flex;
		flex-direction: row;
		gap: 25px;

		&-content {
			text-align: left;
			margin-left: 1em;
		}

		&-text {
			font-style: italic;
			font-weight: 300;
			font-size: 21px;
			line-height: 31px;
			flex: 1 1 auto;
		}

		&-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 26px;
			margin-top: 30px;
		}

		&-subtitle {
			font-size: 18px;
			line-height: 26px;
			color: $yellow-color;
		}
	}
}

.git {
	background: $blue-color;

	&__title {

		&:after {
			background-color: $darkblue-color;
		}
	}

	div.git__subtitle {
		max-width: 90%;
	}

	&__form {
		margin: 70px 10px 0px 10px;
	}

	&__inputs {
		display: flex;
		justify-content: space-between;

		&-item {
			min-width: calc(50% - 10px);
		}
	}

	&__textarea {
		margin-top: 25px;

		&-item {
			width: 100%;
			max-width: 100%;
			min-height: 200px;
		}
	}

	&__inputs-item,
	&__textarea-item {
		background-color: $darkblue-color;
		padding: 20px;
		border-radius: 5px;
		font-size: 18px;
	}

	&__inputs-item::-webkit-input-placeholder,
	&__textarea-item::-webkit-input-placeholder {
		color: $white-color;
	}

	&__button {
		color: white;
		background-color: $lightblue-color;
		box-shadow: 0 3px 0 $darklightblue-color;
	}
}

.footer {
	background-color: $darkblue-color;
	padding: 20px 0px;

	&__links {
		display: flex;
		justify-content: space-around;
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;

		&-icon {
			display: none;
		}

		& a:hover {
			color: $lightblue-color;
		}
	}
}

@media screen and (max-width: 767px) {
	#arrowTop {
		visibility: hidden;
	}

	.header__logo {
		z-index: 2;
	}

	.header__menu-icon {
		display: block;
		z-index: 2;
		position: relative;
		right: 20px;
		width: 30px;
		height: 18px;
		cursor: pointer;

		& span,
		&::before,
		&::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		&._active span {
			transform: scale(0) translate(0px, -50%);
		}

		&::before {
			content: '';
			top: 0;
		}

		&._active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}

		&::after {
			content: '';
			bottom: 0;
		}

		&._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
	}

	.header__menu-body {
		position: fixed;
		z-index: 1;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.25s ease 0s;
		overflow: auto;

		&._active {
			left: 0;
		}
	}

	.header__menu-list {
		flex-direction: column;
		gap: 50px;
		font-size: 30px;

		& a:hover {
			background-color: rgba(0, 0, 0, 0);
		}
	}

	.column {
		max-width: 45%;
	}

	.portfolio__column {
		max-width: 90%;
	}

	.testimonials__column {
		max-width: 90%;
	}

	.git__inputs {
		flex-direction: column;
		gap: 25px;
	}

	.footer__links-text {
		display: none;
	}

	.footer__links-icon {
		display: block;
	}
}

@media screen and (max-width: 424px) {
	.section {
		padding: 30px 0px;
	}

	.title {
		font-size: 24px;
		line-height: 24px;
	}

	.subtitle {
		font-size: 14px;
		line-height: 14px;
	}

	.button {
		font-size: 18px;
		line-height: 26px;
		padding: 15px 10px;
		margin-top: 30px;
	}

	.row {
		flex-direction: column;
		align-items: center;
		gap: 25px;
		margin-top: 40px;
	}

	.column {
		min-width: 100%;
	}

	.circle svg {
		max-width: 100%;
	}

	.welcome__title {
		font-size: 32px;
		line-height: 32px;
	}

	.skills {
		&__row {
			gap: 0px;
		}

		&__column {
			max-width: 100%;
			margin-bottom: 25px;
		}
	}

	.testimonials__column {
		flex-direction: column;

		&-text {
			font-size: 16px;
			line-height: 16px;
		}

		&-title {
			font-size: 18px;
			line-height: 18px;
		}

		&-subtitle {
			font-size: 14px;
			line-height: 14px;
		}
	}

	.footer__links-icon img {
		width: 100%;
	}
}